html, body, #app {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 1366px;
}

.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination {
    margin-top: 15px;
}

/*在全局的global.css样式中给el-cascader-panel添加高度*/
.el-cascader-panel{
    height: 200px;
}

.el-cascader-panel .el-radio{ 
    z-index: 10;
    width: 99%; 
    height: 99%;
    position: absolute; 
    top: 10px; 
    right: -12px; 
}
.el-cascader-panel .el-radio__input{
    visibility: hidden;  
}
.el-cascader-panel .el-cascader-node__postfix{ 
    top: 10px; 
}
.el-steps {
    margin: 15px 0;
}
.el-step__title {
    font-size: 13px;
}
/* 富文本的输入框的最小高度 */
.ql-editor {
    min-height: 300px;
}
